version: "3.8"
services:
  api:
    image: "$DOCKER_REGISTRY/mlmodelscope-api:$API_VERSION"

    environment:
      - DB_DBNAME=$DB_DBNAME
      - DB_DRIVER=$DB_DRIVER
      - DB_HOST=$DB_HOST
      - DB_PORT=$DB_PORT
      - DB_USER=$DB_USER
      - DB_PASSWORD=$DB_PASSWORD
      - MQ_HOST=$MQ_HOST
      - MQ_PORT=$MQ_PORT
      - MQ_USER=$MQ_USER
      - MQ_PASSWORD=$MQ_PASSWORD
      - WARMUP_ROUNDS=$WARMUP_ROUNDS
      - TRACER_ADDRESS=$TRACER_ADDRESS

    depends_on:
      - mq

  trace:
    image: jaegertracing/all-in-one:1.21.0
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411
    ports:
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"
      - "14268:14268"
      - "9411:9411"

  companion:
    image: transloadit/companion:sha-a74ae35
    environment:
      COMPANION_AWS_KEY: "$COMPANION_AWS_KEY"
      COMPANION_AWS_SECRET: "$COMPANION_AWS_SECRET"
      COMPANION_AWS_BUCKET: "$COMPANION_AWS_BUCKET"
      COMPANION_AWS_REGION: "$COMPANION_AWS_REGION"
      COMPANION_DOMAIN: "http://companion.${ENVIRONMENT}mlmodelscope.org"
      COMPANION_DATADIR: "/data"

  mq:
    image: rabbitmq:3-management-alpine
    depends_on:
      - consul
    environment:
      RABBITMQ_ERLANG_COOKIE: "$MQ_ERLANG_COOKIE"

  consul:
    image: hashicorp/consul:1.12
    command: "agent -bootstrap=1"

### Monitoring services

  grafana:
    image: grafana/grafana:8.5.3
    environment:
      GF_INSTALL_PLUGINS: "flant-statusmap-panel,grafana-piechart-panel"

  prometheus:
    image: prom/prometheus:v2.35.0

  node-exporter:
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
    expose:
      - 9100
    image: prom/node-exporter:v1.3.1
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro

  cadvisor:
    expose:
      - 8080
    image: gcr.io/cadvisor/cadvisor:v0.44.0
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      #- /cgroup:/cgroup:ro #doesn't work on MacOS only for Linux
